div.books {}

div.books div.book {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
}

div.books div.book:not(:last-child) {
  margin-bottom: 2rem;
}

div.books div.book div.book-image-container {
  flex: 20%;
  min-width: 60px;
  margin-right: 1rem;
}

div.books div.book div.book-details-container {
  flex: 70%;
  margin-left: 1rem;
}

div.books div.book-edit-link {
  flex: 100%;
  font-size: 0.8rem;
  text-align: right;
}

div.books div.book-edit-link a::after {
  content: "\f044";
  font-family: FontAwesome;
  margin-left: 0.5rem;
}

div.books div.book div.book-details-container div.book-title {
  font-size: 1.5rem;
  font-weight: bold;
}

div.books div.book div.book-details-container div.book-description {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

div.books div.book div.book-details-container span.author-label {
  font-weight: bold;
}

div.books div.book div.book-details-container div.book-meta div.book-authors span.book-author:not(:last-child)::after,
div.books div.book div.book-details-container div.book-meta div.book-publishers span.book-publisher:not(:last-child)::after {
  content: ", ";
}

div.books div.book div.book-details-container div.book-meta div.book-publishers span.book-publisher:not(:last-child)::after {
  content: ", ";
}

div.books div.book div.book-details-container div.book-meta div.book-publishers,
div.books div.book div.book-details-container div.book-meta div.book-isbn {
  display: inline;
  font-size: 0.8rem;
}

div.book-publishers + div.book-isbn::before {
  content: " | ";
}


@media screen and (max-width: 650px) {  

}
